pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_CopyLoop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Config').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_ParameterizedCSV",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource"
								},
								"sink": {
									"type": "DelimitedTextSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_csv_parameterized",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": "@item().FolderName",
										"FileName": "@item().FileName"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_csv_staging",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": "@item().FolderName",
										"FileName": "@item().FileName"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}